<form [formGroup]="form">
  <div>
  <p>
  <span matPrefix>Bloco: </span>
  <mat-button-toggle-group formControlName="bloco" aria-label="Font Style">
      <mat-button-toggle value="A">A</mat-button-toggle>
      <mat-button-toggle value="B">B</mat-button-toggle>
      <mat-button-toggle value="C">C</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
  <app-error-msg [control]="form.get('bloco')" label="Bloco"></app-error-msg>
  
 <app-field  name='apartamento' label="Apartamento" tag="select" [array]="apartamentos[form.get('bloco'). value]"></app-field>
    <app-field  name='aluguel' label="Aluguel" placeholder="1700" prefix="R$ &nbsp;" suffix=",00"></app-field>

  
  <mat-form-field>
    <mat-label>Data de Início</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="dataInicio">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <app-error-msg [control]="form.get('dataInicio')" label="Data do Início"></app-error-msg>
  </mat-form-field>

  <app-field  name='diaVencimento' label="Dia do Vencimento" tag="select" [array]="vencimento">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </app-field>

  
  
    <mat-form-field>
    <mat-label>Objetos</mat-label>
    <textarea matInput formControlName="objetos"></textarea>
  </mat-form-field>
  
  
  <app-field tag="slide" name='seeDefaults' label="Ver opções padrões"></app-field>
  
  <ng-container *ngIf="form.get('seeDefaults').value" >
    <app-field tag="slide" name='allowAnimals' label="Permitido Animal"></app-field>
    <app-field tag="slide" name='hasParking' label="Tem estacionamento"></app-field>
    <app-field tag="slide" name='hasBikerack' label="Tem bicicletário"></app-field>
    <app-field  name='limitePessoas' label="Limite de Pessoas" tag="select" [array]="limitePessoas"> </app-field>
  </ng-container>


  
    </div><div>
      <!-- ###### DIVISÃO -->
      
      <app-field name='nome' label="Nome" placeholder="Gabriel Del Cesare Barros"></app-field>
      <app-field name='nacionalidade' label="Nacionalidade" placeholder="Brasileiro"></app-field>
      <app-field name='profissao' label="Profissão" placeholder="Autônomo"></app-field>
      <app-field  name='estadoCivil' label="Estado Civil" tag="select" [array]="estadoCivil"></app-field>
  <app-field name='cpf' label="cpf" placeholder="00000000000"></app-field>
  <app-field name='identidade' label="Identidade" placeholder="0000000"></app-field>
  <app-field name='celular' label="Celular" placeholder="81900000000" prefix="+55 &nbsp;"></app-field>
  
    <app-field tag="slide" name='hasEndereco' label="Tem endereço?"></app-field>

</div>
  
  
  <div *ngIf="form.get('hasEndereco').value">
    <app-field name='cep' label="Cep" placeholder="0000000" type="number"></app-field>
    <app-field  name='estado' label="Estado" tag="select" [array]="estados" arrayValue="sigla" arrayName="nome"> </app-field>
    <app-field  name='cidade' label="Cidade" tag="select" [array]="cidades"> </app-field>
    <app-field  name='bairro' label="Bairro" placeholder="Porto de Galinhas"></app-field>
    <app-field  name='rua' label="Rua" placeholder="Cavalo Marinho"></app-field>
    <app-field  name='numero' label="Número" placeholder="00" type="number"></app-field>
    <app-field  name='complemento' label="Complemento" placeholder="apt 01"></app-field>
    
  </div>
</form>
<app-form-submit></app-form-submit>
<!-- <app-editor></app-editor> -->
<app-log></app-log>
<app-pdf showPdf=false savePdf=true></app-pdf>
<!-- <button (click)="resetar()">Cancelar</button> -->
    <app-debug-form></app-debug-form>
         <!-- <app-debug-f></app-debug-f>  -->
         




         
         <!-- <div [ngClass]="hasErrorStyle('items')" formArrayName="items"> Items: 
           <div   *ngFor="let item of formulario.get('items')['controls']; let i = index">
             <label>{{ items[i] }}<input type="checkbox" [formControlName]="i"></label><br/>
             <label>Cama<input type="checkbox" formControlName="items"></label><br/>
           </div>
         </div> -->